<div class="canvas-wrapper">

  <div class="d-flex">
    <div class="main-canvas">
      <svg #svg>
        <rect
          [attr.x]="currentShape.x"
          [attr.y]="currentShape.y"
          [attr.height]="currentShape.height" 
          [attr.width]="currentShape.width">
        </rect>
        <rect #pointer id="resize" fill="red"
         [attr.x]="pointerX" [attr.y]="pointerY"
         [attr.width]="pointerWidth" [attr.height]="pointerHeight" />
      </svg>
    </div>
    <div class="property">
      <span>height: {{currentShape.height}}</span> <br>
      <span>width: {{currentShape.width}}</span>
    </div>
  </div>

</div>